doctype html
html
head
	title= title
	link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
	script(src='bower_components/jquery/dist/jquery.min.js')
	link(rel='stylesheet', href='/css/style.css')

body
	div(id="master_menu")
		a(href="/") Home
		a(href="makers_to_contact") MakersToContact
		a(href="volunteers_to_contact") VolunteersToContactl

	block content
