extends layout

block content
	div.container-fluid
		br
		div#main
			h3.mm-blue Come make something at
			h1.rotate-10.mm-red Maker Madness!
		div#main-info
			p.mm-yellow Saturday, May 2nd
			p.mm-yellow 10am - 4pm
			p.mm-yellow Columbia High School

		//div.abs-pos.icon.fa.fa-lock

		h4.mm-gray.col-md-6#mm-activities Over 20 hands-on activities for children K-8 including...
			ul
				li 3-D printing
				li "Play Dough" electronics
				li Hour of Code
				li Sewing and knitting
				li Doll Crafts
				li Lego Madness
				li Robotics
				li Origami
				li Projectiles
				h5 ...and more....
				b

		div#help-section.col-md-3
			h5.mm-blue Want to Help?
			a#more-info-btn.btn.btn-primary(href="makers") Be a Maker
			a#more-info-btn.btn.btn-primary(href="sponsors") Sponsor a Station
			a#more-info-btn.btn.btn-primary(href="volunteers") Volunteer to Help
			br

		h4.mm-gray.col-md-6#mm-steam Find out what '<b class="mm-red">S</b><b class="mm-blue">T</b><b class="mm-yellow">E</b><b class="mm-purple">A</b><b class="mm-green">M</b>' education is all about!
			ul
				li Explore <b class="mm-red">S</b>cience by playing with pendulums
				li Experience <b class="mm-blue">T</b>echnology by working with electronics
				li Try <b class="mm-yellow">E</b>ngineering challenges like building bridges 
				li Create <b class="mm-purple">A</b>rt projects that explore the link between technology and beauty
				li See the <b class="mm-green">M</b>ath behind geodesic structures and forms in Nature.

		br 
		h6.mm-gray.col-md-12#parent-warning Parents, please accompany your children to the event.

