extends layout

block content
	div.top-menu-spacing
	div#main-home.container-fluid
		div#main-home1
			h1.rotate-10.mm-red.col-md-12 Maker Madness!
		div#main-info
			p.mm-yellow.time-date Columbia High School
			p.mm-yellow.time-date Saturday, May 2<sup>nd</sup>
			p.mm-yellow.time-date 10am - 4pm
			hr
		div.row#secondary-panel
			div.col-sm-8
				div#in-my-div
					//button#authorize-button( style="visibility: hidden") Authorize

					table
						tr
							td
							td
								h3.permian-font Over 20 hands-on activies for kids K-8 including...
						each proj, i in projDataObj.row_data
							// Ignore header column
							if( i != 1 )
								if( projDataObj.row_data[i][2] == 1 ) 
									tr
										td.left-col= projDataObj.row_data[i][3]
										td.right-col= projDataObj.row_data[i][4]

			div.col-sm-4#help-section
				h3.mm-blue.right-just Want to get involved?
				a.help-btn.btn.btn-primary(href="maker_signup") Be a Maker
				a.help-btn.hidden-xs.btn.btn-primary(href="http://achievefoundation.org/wp-content/uploads/2015/03/Maker-Madns-sponsor-form.pdf") Sponsor a Station
				a.help-btn.btn.btn-primary(href="http://www.signupgenius.com/go/60b084ea4aa2fa02-maker") Volunteer to Help

		div.row#tertiary-panel
			h4#mm-steam.permian-font.mm-gray Find out what '<b class="mm-red">S</b><b class="mm-blue">T</b><b class="mm-yellow">E</b><b class="mm-purple">A</b><b class="mm-green">M</b>' education is all about!
			p Explore <b class="mm-red">S</b>cience by playing with pendulums
			p Experience <b class="mm-blue">T</b>echnology by working with electronics
			p Try <b class="mm-yellow">E</b>ngineering challenges like building bridges 
			p Create <b class="mm-purple">A</b>rt projects that explore the link between technology and beauty
			p See the <b class="mm-green">M</b>ath behind geodesic structures and forms in Nature.
	
		br 
	h6.mm-gray.col-md-12#parent-warning Parents, please accompany your children to the event.

