<!DOCTYPE html>
<html lang="en" ng-app="loginApp">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, 
			initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>Maker Madness</title>

		<script src='bower_components/jquery/dist/jquery.min.js'></script>
		<link href="stylesheet" type="text/css" href='bower_components/bootstrap/dist/css/bootstrap.min.css'></link>
		<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

		<!--
		<link href="vendor/fontawesome/css/font-awesome.min.css" 
			rel="stylesheet" type="text/css"/>
		-->
		<script src='assets/js/parallax.js-1.3.1/parallax.min.js'></script>
		<link href="assets/css/parallax.css" rel="stylesheet" type="text/css"/>

		<script>
			$( document ).ready(function() {
				$('.parallax-window1').parallax({imageSrc: 'assets/img/science.jpg'});	
				$('.parallax-window2').parallax({imageSrc: 'assets/img/technology.jpg'});	
				$('.parallax-window3').parallax({imageSrc: 'assets/img/engineering.jpg'});	
				$('.parallax-window4').parallax({imageSrc: 'assets/img/art.jpg'});	
				$('.parallax-window5').parallax({imageSrc: 'assets/img/math1.jpg'});	
				$('.parallax-window6').parallax({imageSrc: 'assets/img/manybots.jpeg'});	
			});
		</script>


	</head>

	<body>



		<h2 class="mm-red">Science</h2>
		<div id="para-pane1" class="parallax-window1" data-parallax="scroll" data-image-src="/path/to/image.jpg">
		</div>

		<h2 class="mm-blue">Technology</h2>
		<div id="para-pane2" class="parallax-window2" data-parallax="scroll" data-image-src="/path/to/image.jpg">
		</div>

		<h2 class="mm-purple">Engineering</h2>
		<div id="para-pane3" class="parallax-window3" data-parallax="scroll" data-image-src="/path/to/image.jpg">
		</div>

		<h2 class="mm-yellow">Art</h2>
		<div id="para-pane4" class="parallax-window4" data-parallax="scroll" data-image-src="/path/to/image.jpg"></div>

		<h2 class="mm-green">Mathmatics</h2>
		<div id="para-pane5" class="parallax-window5" data-parallax="scroll" data-image-src="/path/to/image.jpg"></div>

		<div id="main">
			<h3 class="mm-blue">The Achieve Foundation Presents...</h3>
			<h1 class="rotate-10 mm-red">Maker Madness!</h1>
			<p class="mm-yellow">Saturday, May 2nd, 10am - 4pm</p>
			<p class="mm-yellow">Columbia High School</p>
			<p>&nbsp</p>
			<p class="mm-red">It's Free</p>
		</div>

		<div id="para-pane6" class="parallax-window6" data-parallax="scroll" data-image-src="/path/to/image.jpg">
		</div>
	</body>
</html>

