doctype html
html
	head
		title Achieve Maker Madness
		link(rel='stylesheet', href='/css/mm_style.css')
		script(src='bower_components/jquery/dist/jquery.min.js')
		link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
	body
		div.container
			h3.mm_red Come Make Something at...
			h1.mm_blue Maker Madness
			h3.mm_purple Powered by STEAM

			br
			h3 Find out what "STEAM" Education is all about!
			Explore Science and 

 Experience Technology in live 

making things

that crawl, shoot, roll and fly.

 Be creative with Art projects 

 Experience Technology in live 

demos and workshops.

 Be creative with Art projects 

 You use Math every day, when 

that show you how things are 

demos and workshops.

that show you how things are 

you don’t even know it!

 You use Math every day, when 

Find out what "STEAM"

Education is all about!

 Explore Science and 

Engineering by making things 

that crawl, shoot, roll and fly.

 Experience Technology in live 

demos and workshops.

 Be creative with Art projects 

that show you how things are 

made.

 You use Math every day, when 

you don’t even know it!

Learn by doing!

Learn by doing!

20+ hands-on activities for 

children
			

			br
			br
			br
			br
			p (This site us under construction. Please bear with us a few more days. Thanks.)

			//a.btn.btn-primary(href="home") Find Out More

