doctype html 
html
	head
		meta(charset='utf-8')
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		title Achieve Maker Madness
		link(rel='stylesheet', href='/assets/fonts/font_face_master.css')
		link(rel='stylesheet', href='/assets/css/mm_style.css')
		script(src='bower_components/jquery/dist/jquery.min.js')
		script(src='assets/js/jquery.cycle2.min.js')
		link(rel='stylesheet', type="text/css" href='bower_components/font-awesome/css/font-awesome.min.css')
		link(type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css")
		script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
		link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')

	body
		div#main-home.container-fluid
			div.row
				div.col-sm-4
					div#left-space-box
						img(id="sponsored-by" src="/assets/achieve-img/achieve_logo_04.png" width="260px")
						img(id="lightbulb" src="/assets/mm-img/long_tail_bulb.png" width="430px")
						a#more-info-btn.btn.btn-primary(href="home") Learn More
						h1#free.mm-purple.main-header Free to<br>the Public
						br
						p.mm-yellow.time-date Sat, April 30<sup>th</sup><br>10&thinsp;am - 4&thinsp;pm
						br
						p.mm-blue.time-date CHS Cafeteria<br>19 Parker Ave<br>Maplewood, NJ
				div.col-sm-8
					div#main-box
						div#slideshow.cycle-slideshow(data-cycle-timeout="250" data-cycle-speed="1500" data-cycle-pause-on-hover="true")
							img(src='assets/img3/11174907_949149618438751_2914560719640124968_n.jpg')
							img(src='assets/img3/11182227_10153261733204812_5519446143611550992_n.jpg')
							img(src='assets/img3/Book art 2.jpg')
							img(src='assets/img3/DSC_0129.jpg')
							img(src='assets/img3/DSC_0141.jpg')
							img(src='assets/img3/11174907_949149618438751_2914560719640124968_n.jpg')
							img(src='assets/img3/11182227_10153261733204812_5519446143611550992_n.jpg')
							img(src='assets/img3/Book art 2.jpg')
							img(src='assets/img3/DSC_0129.jpg')
							img(src='assets/img3/DSC_0141.jpg')
							img(src='assets/img3/DSC_0148.jpg')
							img(src='assets/img3/DSC_0149.jpg')
							img(src='assets/img3/DSC_0153.jpg')
							img(src='assets/img3/DSC_0166.jpg')
							img(src='assets/img3/DSC_0186.jpg')
							img(src='assets/img3/DSC_0189.jpg')
							img(src='assets/img3/DSC_0195.jpg')
							img(src='assets/img3/DSC_0196.jpg')
							img(src='assets/img3/DSC_0200.jpg')
							img(src='assets/img3/DSC_0202.jpg')
							img(src='assets/img3/DSC_0203.jpg')
							img(src='assets/img3/DSC_0206.jpg')
							img(src='assets/img3/DSC_0228.jpg')
							img(src='assets/img3/DSC_0230.jpg')
							img(src='assets/img3/DSC_0233.jpg')
							img(src='assets/img3/DSC_0234.jpg')
							img(src='assets/img3/DSC_0237.jpg')
							img(src='assets/img3/DSC_0243.jpg')
							img(src='assets/img3/DSC_0245.jpg')
							img(src='assets/img3/DSC_0249.jpg')
							img(src='assets/img3/DSC_0250.jpg')
							img(src='assets/img3/DSC_0267.jpg')
							img(src='assets/img3/DSC_5088.JPG')
							img(src='assets/img3/DSC_5162.JPG')
							img(src='assets/img3/DSC_5092.JPG')
							img(src='assets/img3/DSC_5093.JPG')
							img(src='assets/img3/DSC_5094.JPG')
							img(src='assets/img3/DSC_5100.JPG')
							img(src='assets/img3/DSC_5105.JPG')
							img(src='assets/img3/DSC_5109.JPG')
							img(src='assets/img3/DSC_5113.JPG')
							img(src='assets/img3/DSC_5118.JPG')
							img(src='assets/img3/DSC_5124.JPG')
							img(src='assets/img3/DSC_5128.JPG')
							img(src='assets/img3/DSC_5129.JPG')
							img(src='assets/img3/DSC_5130.JPG')
							img(src='assets/img3/DSC_5138.JPG')
							img(src='assets/img3/DSC_5148.JPG')
							img(src='assets/img3/DSC_5153.JPG')
							img(src='assets/img3/DSC_5158.JPG')
							img(src='assets/img3/DSC_5159.JPG')
							img(src='assets/img3/DSC_5165.JPG')
							img(src='assets/img3/DSC_5168.JPG')
							img(src='assets/img3/DSC_5169.JPG')
							img(src='assets/img3/Ella & Minah.JPG')
							img(src='assets/img3/IMG_1746.JPG')
							img(src='assets/img3/IMG_1747.JPG')
							img(src='assets/img3/IMG_1748.JPG')
							img(src='assets/img3/IMG_1751.JPG')
							img(src='assets/img3/IMG_1752.JPG')
							img(src='assets/img3/IMG_1758.JPG')
							img(src='assets/img3/IMG_1762.JPG')
							img(src='assets/img3/IMG_1765.JPG')
							img(src='assets/img3/IMG_2918.jpg')
							img(src='assets/img3/IMG_2920.jpg')
							img(src='assets/img3/IMG_2925.jpg')
							img(src='assets/img3/Latimer & student.jpg')
							img(src='assets/img3/Legos_2_dp.JPG')
							img(src='assets/img3/LittleBits project.jpg')
							img(src='assets/img3/Maker Madness Family.jpg')
							img(src='assets/img3/Snap Circuits.jpg')
							img(src='assets/img3/book art - Mimi.jpg')
							img(src='assets/img3/building bridges.JPG')
							img(src='assets/img3/building stools.JPG')
							img(src='assets/img3/coding 2.JPG')
							img(src='assets/img3/demo 2.JPG')
							img(src='assets/img3/science16.jpg')
							img(src='assets/img3/snake robot.JPG')
							img(src='assets/img3/tree art 2.JPG')
							img(src='assets/img3/wood_benches in progress.JPG')
							img(src='assets/img3/wood_pride_in_making.JPG')
			
						h1.mm-blue.main-header-intro Maker Madness!
						h3#hashtag.mm-orange #whatwillyoumake
						p#social.mm-blue Follow us on 
							a(href="https://www.instagram.com/makermadness/")
								img(src='assets/mm-img/insta_icon.png' width="40" height="40")
							&nbspand&nbsp
							a(href="https://www.facebook.com/MakerMadness/")
								img(src='assets/mm-img/facebook_icon.png' width="40" height="40")
	
