doctype html
html
	head
		title Achieve Maker Madness
		link(rel='stylesheet', href='/css/mm_style.css')
		script(src='bower_components/jquery/dist/jquery.min.js')
		link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
	body
		div.container
			h3 The Achieve Foundation presents
			h1 Maker Madness
			h3 Powered by STEAM
			a.btn.btn-primary(href="home") Find Out More

