extends layout

block content
	div.container-fluid#makers-main-container

		h3 Interested in helping kids make things?

		p We're looking for people to help run stations that will help kids develop their projects.  If you are in a STEAM field, or if you are handy, or crafty, or just like making things, we would love to have your help on May 2nd.  
		p Let us know if you already have an idea of what you would like to do. If you aren't sure, you can help out with one of the stations we have planned. We can give you a list to choose from.
		p To sign up and give us your ideas, or offer to help, click here.

		h3 Maker Signup

		h3 Advice for Maker Mentors

		p Separate different techniques, such as one station to build something, and another station to paint or decorate it.
		p Will you need additional volunteers to help run your station, either skilled or not?
		p Think through factors like noise and fumes. Avoid chemicals with fumes, as our 
stations will be indoors.  We expect that this could be a very noisy event, so things 
that are slightly quieter are preferable. If hammering is involved, maybe have the kids 
do it on the floor instead of on a table.


		h3 Making
		p We suggest projects that limit the amount of time it takes each kid to complete them 
to 15 minutes.  If there are longer, more involved projects--perhaps for older kids--it 
could take longer, but the idea is to be able to have lots of kids making things. Tying 
up resources (particularly people to help and supervise) would limit that.
		p Think about the flow. Does each kid stay at a station the whole time, or do you have 
kids moving down a kind of assembly line as they complete their project?
How many kids can work on a project at once? You may want to set a limit on the 
number of kids working at one time, and have others wait in line, or come back later.

		h3 Testing
We are planning some Friday night test runs where we invite a few kids and adults to 
someone’s house to build things, to get a sense of how long things take, what 
materials are needed, and to troubleshoot.

		div.bottom-breathing-space &nbsp
