extends layout

block content
	div.top-menu-spacing
	div.vspace &nbsp
	div.container-fluid#makers-main-container
		div.row
			div.left.col-sm-4
				h3.mm-yellow.hidden-xs.pull-right.right-just Advice for Maker Mentors
				h3.mm-red.visible-xs Advice for Maker Mentors
			div.left.col-sm-8
				p.mm-gray 
					| Developing Your Idea. These are only guidelines. 
					| We are encouraging creativity, so don’t take these as rules.
				p.mm-gray 
					| Try to develop something the kids will take away after Maker Madness. 
					| If it’s software, for example, have them create a web site, 
					| or android games on their phones, rather than just learning to 
					| program with an exercise. If you are teaching math, have them use math to 
					| make something. If you are teaching music, have them make an instrument.
				p.mm-gray 
					|You can sequence different techniques, such as having one station to build 
					| something, and another station to paint or decorate it.
				p.mm-gray 
					| Try to determine if you will you need additional volunteers to 
					| help run your station, either skilled or not?
				p.mm-gray 
					| Think through factors like noise and fumes. Avoid chemicals with fumes, 
					| as our stations will be indoors.  We expect that this could be a very noisy event, 
					| so things that are slightly quieter are preferable. If hammering is involved, 
					|maybe have the kids do it on the floor instead of on a table.

		div.row
			div.left.col-sm-4
				h3.mm-purple.hidden-xs.pull-right Making
				h3.mm-purple.visible-xs Making
			div.left.col-sm-8
				p.mm-gray 
					|We suggest projects that limit the amount of time it takes 
					|each kid to complete them to 15 minutes.  If the project is more 
					|involved&#8202;&#8212;&#8202;perhaps for older kids&#8202;&#8212;&#8202;it is ok 
					|if it takes longer, but the idea is to be able to have lots of kids making things. 
					|Tying up resources (particularly people to help and supervise) would limit that.
				p.mm-gray 
					|Think about the flow. Does each kid stay at a station the whole time, 
					|or do you have kids moving down a kind of assembly line as they complete their project?  
				p.mm-gray 
					|How many kids can work on a project at once? You may want to set a 
					|limit on the number of kids working at one time, and have others wait in line, or come back later.

		div.row
			div.left.col-sm-4
				h3.mm-red.hidden-xs.pull-right Testing
				h3.mm-red.visible-xs Testing
			div.left.col-sm-8
				p.mm-gray.
					We are planning some Friday night test runs in April where we invite a few kids and 
					adults to someone’s house to build things, to get a sense of how long things take, 
					what materials are needed, and to troubleshoot. If you would like to participate
					please contact <a id="larrys-email" class="inline-anchor" href='mailto:larry.boyer@gmail.com'> Larry Boyer</a>


	div.bottom-breathing-space
