extends layout

block content
	div.container-fluid#makers-main-container
		h3.mm-purple Interested in helping kids make things?
		p.mm-gray We're looking for people to help run the stations that will help kids develop their projects. If you are in a STEAM field, or if you are handy, or crafty, or just like making things, we would love to have your help on May 2nd.
		p.mm-gray If you alread have an idea of what you would like to do, you can let us know that, but if you aren't sure, you can also just help out with one of the stations we are already planning. We can give you a list to choose from.
		p.mm-gray To sign up and give us your ideas, or offer to help, click here. 
		a#maker-signup-btn.btn.btn-primary(href="maker_signup") Maker Signup

		h3.mm-yellow Advice for Maker Mentors
		p.mm-gray Developing Your Idea. These are only guidelines. We are encouraging creativity, so don’t take these as rules. 
		p.mm-gray Try to develop something the kids will have after the MakerFaire; If it’s software, for example, it’s better to have them create a web site, or an android game on their phones, rather than just learning to program with an exercise. If you are teaching math, have them use math to make something. If you are teaching music, have them make an instrument. 
		p.mm-gray Try to develop projects that limit the amount of time it takes each kid to make something to maybe 15 minutes or ½ hour. If there are longer, more involved projects--perhaps for older kids--then the time could be longer, but the idea is to be able to have lots of kids make things, so tying up resources (particularly people to help and supervise) would limit that.
		p.mm-gray You can combine a different types of techniques, such as one station to build something, and another station to paint or decorate it. 
		p.mm-gray Will you need additional volunteers to help run your station, either skilled or not?
		p.mm-gray Think through factors like noise and fumes. Try to avoid chemicals with fumes as we’re trying to avoid having to go outside, or be near a door. As far as noise, we expect that this could be a very noisy event, so if you can do things to be slightly quieter, that’s preferable. If hammering, maybe have the kids do it on the floor instead of up on a table. 

		h3.mm-blue Testing
		p.mm-gray We are planning some Friday night test runs where we invite a few kids and adults to come to someone’s house to build things, so that we can get a sense of how long things take, and what materials the makers will need, and if they have difficulty with certain parts. 

		h3.mm-green Making 

		p.mm-gray Try to limit the amount of time it takes each kid to make something to maybe 15 minutes or ½ hour. If there is a longer, more involved project, perhaps for older kids, then the time could be longer, but the idea is to be able to have lots of kids make things, so tying up resources (particularly people to help and supervise) would limit that. 
		p.mm-gray Think through flow. Does each kid have a station and stay there the whole time, or do you have kids moving down a kind of assembly line as they complete their project.
		p.mm-gray How many kids can you have working on a project at once. You may want to limit the number of kids working at once, and have others wait in line, or come back later. 

	div.bottom-breathing-space &nbsp
