extends layout

block content
	div.container-fluid#makers-main-container
		h3.mm-purple Interested in sponsoring a maker station?
		a#maker-signup-btn.btn.btn-primary(href="sponsor_signup") Sponsor Form

