extends layout

block content
	div.container-fluid#makers-main-container
		h3.mm-yellow Want to volunteer to help with Maker Madness?
		a#maker-signup-btn.btn.btn-primary(href="volunteer_signup") Volunteer Signup


