extends layout

block content
	script.
		$(document).ready( function() {
			$('#is-teacher').change( function() {
				if( this.checked ) {
					console.log("teacher");
					$('#teacher-div').slideDown();
				} else {
					console.log("not a teacher");
					$('#teacher-div').slideUp();
				}
			});
			$('#is-parent').change( function() {
				if( this.checked ) {
					$('#parent-div').slideDown();
				} else {
					$('#parent-div').slideUp();
				}
			});
			$('#is-business-owner').change( function() {
				if( this.checked ) {
					$('#business-owner-div').slideDown();
				} else {
					$('#business-owner-div').slideUp();
				}
			});
			$('#is-community-member').change( function() {
				if( this.checked ) {
					$('#business-owner-div').slideDown();
				} else {
					$('#business-owner-div').slideUp();
				}
			});
			$('#submit-maker-signup-btn').click( function() {
				submitMakerSignup();
			});
			$('#preload-form-btn').click( function() {
				loadForm();
			});
		});

		// Post maker form data to back-end 
		function submitMakerSignup() {
			if( $('#email').val() != $('#confirm-email').val() ) {
				alert("Email confirmation doesn't match email. Please enter your " + 
					"email address twice to insure that we have it right.");
				return false;
			}

			console.log("Diag 2000");
			var maker_data = {}

			// Boyer here

			maker_data.name = $("#name").val();
			maker_data.email = $("#email").val();
			maker_data.is_teacher = $("#is-teacher").is(':checked');
					

	
			//maker_data.grade = $("#grade").val();
			maker_data.subject = $("#subject").val();
			maker_data.is_parent = $("#is-parent").is(':checked');
			maker_data.school = $("#school").val();
			maker_data.kids_age = $("#kids-age").val();
			maker_data.is_business_owner = $("#is-business-owner").is(':checked');
			maker_data.business_name = $("#business-name").val();
			maker_data.business_desc = $("#business-desc").val();
			maker_data.is_community_member = $("#is-community-member").is(':checked');
			maker_data.role = $("#role").val();
			maker_data.desired_project_desc = $("#desired-project-desc").val();



			console.log("Going to send this obj:");
			console.log(maker_data);

			var data_str = JSON.stringify(maker_data);

			//contentType: 'application/json',
	
			$.post( "/maker_signup", maker_data, function(data) {
				console.log("Diag 2000; success: data:");
				console.log(data);
			}).fail( function() {
				console.log("Failed");
			});

			return true;
		}

		function loadForm() {

			$("#name").val("Larry Boyer");
			$("#email").val("larry.boyer@gmail.com");
			$("#confirm-email").val("larry.boyer@gmail.com");
			$("#is-teacher").prop('checked',true);
			$("#grade").val("4");
			$("#subject").val("Science");
			$("#is-parent").prop('checked',true);
			$("#school").val("South Orange Middle");
			$("#kids-age").val("11,13");
			$("#is-business-owner").prop('checked',true);
			$("#business-name").val("Larry Boyer Consulting");
			$("#business-desc").val("Developing web sites for maker events");
			$("#is-community-member").prop('checked',true);
			$("#role").val("mentor");
			$("#desired-project-desc").val("My project will develper cars that drive around");
		}


		/*
		function addMakerInfo( maker_info_obj ) {

			var collection = db.get('roles');
			collection.insert({
				"role": maker_info_obj
			}, function(err, doc) {
				if( err ) {
					console.log("Err  2837; problem with insert:" + err);
				} else {
					console.log("Diag 1000; successfully inserted:" + doc);
				}
			}); 
		}
		*/


	div.container-fluid#maker-signup-container
		h3.mm-green Volunteer Signup
		br
		html.
			<form id="maker-info-form" action="">
				<h4 class="mm-blue">Tell us about yourself</h4>
				<div class="form-group mm-gray">
					<label class="control-label col-sm-3">Name</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="name" placeholder="Enter name">
					</div>
					<hr />
				</div>
				<div class="form-group mm-gray">
					<label class="control-label col-sm-3">Email</label>
					<div class="col-sm-9">
						<input type="email" class="form-control" id="email" placeholder="Enter email">
					</div>
					<hr />
				</div>
				<div class="form-group mm-gray">
					<label class="control-label col-sm-3">Confirm Email</label>
					<div class="col-sm-9">
						<input type="email" class="form-control" id="confirm-email" placeholder="Enter email">
					</div>
					<hr />
				</div>
				<div class="form-group mm-gray"> 
					<div class="col-sm-offset-3 col-sm-9">
						<div class="checkbox">
							<label><input id="is-teacher" type="checkbox">I am a teacher in the SOMA school district</input></label>
						</div>
					</div>
					<hr />
				</div>
				<div id="teacher-div" style="display:none">
					<div class="form-group mm-gray">
						<label class="control-label col-sm-3">Grade</label>
						<div class="col-sm-9">
							<select id="grade">
								<option value="na"></option>
								<option value="k">kindergarten</option>
								<option value="1">first grade</option>
								<option value="2">second grade</option>
								<option value="3">third grade</option>
								<option value="4">forth grade</option>
								<option value="5">fifth grade</option>
								<option value="6">sixth grade</option>
								<option value="7">seventh grade</option>
								<option value="8">eight grade</option>
								<option value="9">nineth grade</option>
								<option value="10">tenth grade</option>
								<option value="11">eleventh grade</option>
								<option value="12">twelfth grade</option>
							</select>
						</div>
						<hr />
					</div>
					<div class="form-group mm-gray"> 
						<label class="control-label col-sm-3">Subject</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="subject">
						</div>
						<hr />
					</div>
				</div>
				<div class="form-group mm-gray"> 
					<div class="col-sm-offset-3 col-sm-9">
						<div class="checkbox">
							<label><input id="is-parent" type="checkbox">I am a parent in the SOMA school district</label>
						</div>
					</div>
					<hr />
				</div>
				<div id="parent-div" style="display:none">
					<div class="form-group mm-gray">
						<label class="control-label col-sm-3">School(s)</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="school" placeholder="Enter school">
						</div>
						<hr />
					</div>
					<div class="form-group mm-gray">
						<label class="control-label col-sm-3">Kid's ages)</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="kids-age" placeholder="Enter kid's ages">
						</div>
						<hr />
					</div>
				</div>

				<div class="form-group mm-gray"> 
					<div class="col-sm-offset-3 col-sm-9">
						<div class="checkbox">
							<label><input id="is-business-owner" type="checkbox">I am an owner/manager of a local business</label>
						</div>
					</div>
					<hr />
				</div>
				<div id="business-owner-div" style="display:none">
					<div class="form-group mm-gray">
						<label class="control-label col-sm-3">Business Name</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="business-name" placeholder="Enter Business Name">
						</div>
						<hr />
					</div>
					<div class="form-group mm-gray">
						<label class="control-label col-sm-3">Business Description</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="business-desc" placeholder="Enter Business Description">
						</div>
						<hr />
					</div>
				</div>

				<!--
				<div class="form-group mm-gray"> 
					<div class="col-sm-offset-3 col-sm-9">
						<div class="checkbox">
							<label><input id="is-community-member" type="checkbox">I am an interested community member</label>
						</div>
					</div>
					<hr />
				</div>
				-->
				<div class="form-group mm-gray">
					<label class="control-label col-sm-3">Preferences</label>
					<label class="right-col-text col-sm-9">
						Tell us if you have any preferences of how you'd like to help. 
					</label>
					<hr />
				</div>
				<div class="form-group mm-gray">
					<label class="control-label col-sm-3"></label>
					<div class="col-sm-9">
						<textarea rows="5" cols="50" class="form-control" id="desired-project-desc" placeholder="Enter Desired Project Description"></textarea>

					</div>
					<hr />
				</div>

				<div class="form-group mm-gray"> 
					<div class="col-sm-offset-3 col-sm-9">
						<!-- Boyer temp -->
						<!--
						<button class="btn btn-primary" type="button" id="preload-form-btn">Preload</button>
						-->
						<button class="btn btn-primary" type="button" id="submit-maker-signup-btn">Submit</button>
					</div>
					<hr />
				</div>
			</form>


