body {
	padding: 10px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	//font: arial;
	background-color: black;
}
input.short-input {
	width: 150px;
}
.form-group {
	//border: 1px solid blue;
//	margin-bottom: 25px;	
}
#maker-info-form .form-group {
	margin-bottom: 35px;	

}

#more-info-btn {
	margin: 25px;
	margin-top:0px;
	width: 150px;
	height: 48px;
	font-size: 24px;
	margin-left: 235px;
}
#mm-activities {
	float: left;
	padding: 10px;
	border: 1px solid rgb(35,156,182);
	font-size: 20px;
}
#mm-steam {
	float: left;
	padding: 10px;
	border: 1px solid rgb(227,6,17);
}
#parent-warning {
	font-size: 14px;
	float: left;
	margin-bottom: 20px;
}

ul li {
	list-style-position: outside;
}

.mm-gray {
	color: #ddd;
}
.mm-red {
	color: rgb(227,6,17);
}
.mm-blue {
	color: rgb(35,156,182);
}
.mm-purple {
	color: rgb(194,64,254);
}
.mm-yellow {
	color: rgb(255,151,0);
}
.mm-green {
	color: rgb(77,170,41);
}




hr.real-hr {
	background-color: #eee;
	height: 3px;
	width: 100%;
}

.form-group hr {
	clear: both;
	float: left;
//	visibility: hidden;
//	display: none;
//	border 0;
//	margin 0;
//	border: 1px solid blue;
}

.form-group label {
//	border: 1px solid red;
}
.form-group .col-sm-10 {
//	border: 1px solid yellow;
}
.form-group input {
//	border: 1px solid green;
}	



#main-menu {
}

.right-col-text {
	//text-align: left;
	font-weight: 400; 
	padding-top: 7px;
	margin-bottom: 0;
}

.control-label {
}

.btn-primary {
	margin: 5px;
}

a {
	color: #00B7FF;
}
h2 {
	font-family: arial;
	color: red;
}
