body {
	padding: 10px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	//font: arial;
}
input.short-input {
	width: 150px;
}

#main-menu {
}
.right-col5 {
	border: 1px solid red;
	text-align: left;
}
.btn-primary {
	margin: 5px;
}

a {
	color: #00B7FF;
}
h2 {
	font-family: arial;
	color: red;
}
