/*
$font-face {
	font-family:"2Dumb";
	src: url("2Dumb.ttf")
}
$font-face {
	font-family:"3Dumb";
	src: url("3Dumb.ttf")
}
*/
/*
@font-face {
  font-family: '3DumbRegular';
  src: url(‘your-path/3Dumb-webfont.eot’);
  src: local('?'), url('3Dumb-webfont.woff') format('woff'), url('3Dumb-webfont.ttf') format('truetype'), url('3Dumb-webfont.svg#webfont57ztNrX6') format('svg');
}
*/

/*
@font-face {
  font-family: '3DumbRegular';
  src: url('assets/fonts/2Dumb.ttf');
  src: local('?'), url('3Dumb-webfont.woff') format('woff'), url('3Dumb-webfont.ttf') format('truetype'), url('3Dumb-webfont.svg#webfont57ztNrX6') format('svg');
}
*/
/*
@font-face {
	font-family: 'mypermiansans';
	src: url('assets/fonts/PermianSansTypeface-webfont.eot');
	src: url('assets/fonts/PermianSansTypeface-webfont.eot?#iefix') format('embedded-opentype'),
	url('assets/fonts/PermianSansTypeface-webfont.woff') format('woff'),
	url('assets/fonts/PermianSansTypeface-webfont.ttf') format('truetype'),
	url('assets/fonts/PermianSansTypeface-webfont.svg#permiansanstypefaceregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
*/


//  src: url(‘your-path/3Dumb-webfont.eot’);
/*
@font-face {
  font-family: 'BelligerentRegular';
  src: url('assets/fonts/belligerent.ttf');
  src: local('?'), url('3Dumb-webfont.woff') format('woff'), url('3Dumb-webfont.ttf') format('truetype'), url('3Dumb-webfont.svg#webfont57ztNrX6') format('svg');
}
*/

h1 {
	color: green;
	font-family: 'Belligerent'
}

h2 {
	color: blue;
//	font-family: '3Dumb';
	font-family: 'mypermiansans';
	font-size: 65px;
}
h3 {
	color: green;
	//font-family: '3Dumb';
	font-family: 'mypermiansans';
}

#in-my-div {
	color: blue;
	font-family: 'mypermiansans';
}

/*
.permian {
	color: black;
	font-family: 'permiansanstypefaceregular';
;
*/

.rotate-10 {
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}


#in-my-div h3 {
	font-family: 
}


