body {
	padding: 10px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
div#main h1 {
	color: purple;
	font-family:belligerent_madnessregular;
}
div#main-intro h1 {
	margin-top: 10px;
	color: purple;
	font-family:belligerent_madnessregular;
}
div#main-home1 h1 {
	margin-top: 20px;
	color: purple;
	font-family:belligerent_madnessregular;
}
#main-home #main-info {
	margin-top: -30px;
	margin-right:5px;
	padding: 0;
}
div#main-info hr{
	border:0;
	margin:0;
}
.test02 {
}

div#main-intro2 h2 {
	font-family:'permiansanstypefaceregular';
}

div#main-intro h3 {
	color: rgb(35,156,182);
	font-family:'permiansanstypefaceregular';
	font-size: 25px;
}
.time-date {
	line-height: 1.15;
}
#main-home .time-date {
	margin:0;
}

.test-border0 {
	border: 1px solid red;
}
.test-border1 {
	border: 1px solid orange;
}
.test-border2 {
	border: 1px solid green;
}
.test-border3 {
	border: 1px solid blue;
}
.test-border4 {
	border: 1px solid purple;
}



div.top-menu-spacing {
	height: 51px;
}
.vspace {
	color: orange;
}
input.short-input {
	width: 150px;
}
.form-group {
	//	margin-bottom: 25px;	
}
#maker-info-form .form-group {
	margin-bottom: 35px;	
}

/*
// Good button, first page
a#more-info-btn.btn.btn-primary(href="home") Learn More
// Bad button, second page. 
a.help-btn.btn.btn-primary(href="maker_signup") Be a Maker
*/

#more-info-btn {
	margin: 25px;
	margin-top:-30px;
	margin-left: 20px;
	width: 150px;
	height: 48px;
	font-size: 24px;
}

#help-section .help-btn {
	width: 180px;
	height: 42px;
	padding-top:8px;	
	font-size: 18px;
	margin:5px 0px;
}

#mm-activities {
	float: left;
	padding: 10px;
	font-size: 20px;
}
.right-just {
	text-align: right;
}

#help-section{
	float: right;
	clear: right;
	margin:0;
	padding:0;
	padding-right: 20px;
//	margin-top:30px;
//	margin-right: 20px;
}
#help-section h5{
	margin-top: 20px;
	float: right;
	clear: right;
	margin:0;
	padding:0;
	
//	padding: 10px;
	//border: 1px solid rgb(35,156,182);
	font-size: 20px;
	text-align: right;
	margin:0;
//	padding:0;
//	margin-right: 20px;
	border: 1px solid green;
}
#main-home #secondary-panel {
	margin-top: 15px;
}

#tertiary-panel {
}
#tertiary-panel h4 {
	text-align: left;
	float: left;
	clear: both;
	margin: 0;
	padding: 0;
	margin-top: 40px;
	margin-left: 20px;
	margin-bottom: 10px;
	font-weight: 600; 
	font-size: 20px;
}

#tertiary-panel p {
	clear: both;
	text-align: left;
	float: left;
	margin: 0;
	padding: 0;
	font-size: 18px;
	margin-left: 30px;
	line-height: 1.25;
}


#help-section a{
	float: right;
	clear: both;
	padding:0;
	margin:0;
//	padding: 10px;
	border: 1px solid rgb(35,156,182);
	font-size: 20px;
	width: 180px;
	//text-align: right;
	//margin:5px;
	//margin-right: 20px;
	//border: 1px solid blue;
}

#mm-steam {
	float: left;
	padding: 10px;
	//border: 1px solid rgb(227,6,17);
	color: black;
}
h4#mm-steam{
	float: left;
	//padding: 10px;
	//padding-left: 30px;
	//color:red;
	//margin-left:30px;
}

h4#mm-steam p{
	float: left;
	//padding: 10px;
	//padding-left: 30px;
	//margin-left:30px;
}

#mm-steam li {
	list-style-type: none;
	padding-left: 30px;
}
#parent-warning {
	font-size: 14px;
	float: left;
	margin-bottom: 20px;
}

ul li {
	list-style-position: outside;
}

.mm-gray {
	color: #555;
}
.mm-red {
	//color: rgb(227,6,17);
	color: #E30611;
}
.mm-blue {
	//color: rgb(35,156,182);
	color: #349CB6	
}
.mm-purple {
	//color: rgb(194,64,254);
	color: #C240B6
}
.mm-yellow {
	//color: rgb(255,151,0);
	color: #FF9700
}
.mm-green {
	color: rgb(77,170,41);
	color: #4DAA29
}




hr.real-hr {
	background-color: #eee;
	height: 3px;
	width: 100%;
}

.form-group hr {
	clear: both;
	float: left;
//	visibility: hidden;
//	display: none;
//	border 0;
//	margin 0;
//	border: 1px solid blue;
}

.form-group label {
//	border: 1px solid red;
}
.form-group .col-sm-10 {
//	border: 1px solid yellow;
}
.form-group input {
//	border: 1px solid green;
}	

hr {
	clear: both;
}

#main-menu {
}

.right-col-text {
	//text-align: left;
	font-weight: 400; 
	padding-top: 7px;
	margin-bottom: 0;
}
.p-breathing-space {
	padding-top: 15px;
}


.bottom-breathing-space {
	margin-bottom: 40px;
}

.control-label {
}

.btn-primary {
	margin: 5px;
}

a {
	color: #00B7FF;
}

h2 {
	font-family:'permiansanstypefaceregular'
	color: red;
}

#makers-main-container h3 {
	float: left;
	margin: 0;
	padding: 0;
	line-height: 1.2;
	margin-top:0em;
	margin-bottom:0.5em;
	clear: both;
	font-family:'permiansanstypefaceregular'
}

#makers-main-container-xs h3 {
	float: left;
	margin: 0;
	padding: 0;
	line-height: 1.2;
	margin-top:0em;
	margin-bottom:0.5em;
	clear: both;
	font-family:'permiansanstypefaceregular'
}


#makers-main-container p {
	float: left;
	font-size: 16px;
	line-height: 1.2;
	margin: 0;
	margin-top: 0em;
	margin-bottom: 1em;
}
/*
#makers-main-container a {
	float: left;
	clear: both;
	font-size: 18px;
}
*/
a.inline-anchor {
	font-family:'permiansanstypefaceregular'
}
/*
#makers-main-container #larrys-email {
	font-family:'permiansanstypefaceregular';
	color: red;
}
*/

#maker-signup-container {
	background-color:#white;
}
#maker-signup-container form{
}
.control-label{
	text-align: right;
	font-size: 15px;
}

h3 {
	font-family:'permiansanstypefaceregular'
}

#special-font {
	font-family:'permiansanstypefaceregular';
	font-size: 55px;
}

.permian-font {
	font-family:'permiansanstypefaceregular'
}
#in-my-div h3 {
	font-family:'permiansanstypefaceregular';
	color: red;
}
#in-my-div h3.test1 {
	font-family:'permiansanstypefaceregular';
	color: blue;
}
#in-my-div h3.test2 {
	font-family:'permiansanstypefaceregular';
	color: green;
}

.navbar-header {
	//border: 1px solid blue;
}

.navbar-collapse { 
	//border: 1px solid red;
}
.left-col {
	vertical-align: text-top;
	padding-right: 10px;
	text-align: right;
	font-weight: 800;
	line-height: 1.23;
}
.right-col {
	//border: 1px solid blue;
	padding-bottom: 8px;
	line-height: 1.23;
}


